[Unit]
Description=Linux Patch Manager — Service Target
Documentation=https://github.com/Draco-Lunaris/Linux-Patch-Manager
Wants=patch-manager-web.service patch-manager-worker.service

[Install]
WantedBy=multi-user.target
